@page "/counter"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components

@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" style="width: 100%;" @onclick="IncrementCount">Increment</button>
<button class="btn btn-secondary" style="width: 100%;" @onclick="DecrementCount">Decrement</button>

<p class="big-text">@currentCount</p>
@if (currentCount != 0) 
{

    <div style="margin-top: 1em;">
        <button class="btn btn-info" @onclick="MultiplyByRandomNumber" style="width: 100%;">Multiply by a random number</button>
    </div>
    <div style="margin-top: 1em;">
        <button class="btn btn-danger" @onclick="ResetToZero" style="width: 100%;">Reset to zero</button>
    </div>
}

@inject NavigationManager Navigation

@code {
    private int currentCount = 0;
    private HubConnection? _hubConnection;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var baseUri = Navigation.BaseUri;
            var hubUrl = new Uri($"{baseUri}counterHub");
            _hubConnection = new HubConnectionBuilder().WithUrl(hubUrl.ToString()).Build();
            _hubConnection.On<string>("ReceiveMessage", HandleMessage);
            await _hubConnection.StartAsync();
        }
    }

    private async void HandleMessage(string message)
    {
        if (int.TryParse(message, out int count))
        {
            currentCount = count;
        }
        await InvokeAsync(StateHasChanged);
    }

    private async Task IncrementCount()
    {
        if (_hubConnection == null)
        {
            return;
        }
        await _hubConnection.SendAsync("SendMessage", "increment");
    }

    private async Task DecrementCount()
    {
        if (_hubConnection == null)
        {
            return;
        }
        await _hubConnection.SendAsync("SendMessage", "decrement");
    }

    private async Task MultiplyByRandomNumber()
    {

        if (_hubConnection == null)
        {
            return;
        }
        await _hubConnection.SendAsync("SendMessage", "multiplyByRandomNumber");
    }

    private async Task ResetToZero()
    {

        if (_hubConnection == null)
        {
            return;
        }
        await _hubConnection.SendAsync("SendMessage", "resetToZero");
    }
}
