@page "/about"

<article>
    <h1>
        About us
    </h1>
    <p>
        The base code for this project is available on GitHub at <a href="https://github.com/kusl/BlazorCheckboxes20240701">kusl/BlazorCheckboxes20240701</a>.
    </p>
</article>
<aside>
    To experience this project for yourself, go to the <NavLink href="counter">Counter</NavLink> or learn more at our <NavLink href="" Match="NavLinkMatch.All">home</NavLink> page.
</aside>