@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
    Hello and welcome to this website where we showcase <code>SignalR</code>. To experience this for yourself, open this website and go to <NavLink href="counter">Counter</NavLink> on two devices or browser contexts side by side and press the button that says "increment" on one of them. The counter should update automatically on your other device or browser context automatically.
</p>